nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: black;
}

nav li a {
	color: brown;
	font-size: 1em;
	margin: 0 1em 0 0;
	text-decoration: none;
	transition: all 0.5s ease;
	font-family: Verdana, Geneva, sans-serif; 
}
nav li a:hover {
	background: #C18121;
	color: blue;
	transform: scale(1.2) rotate(-5deg);
}

.navbar-dark {
	background-color: black;
}
.navbar-brand {
	color: blue; 
}
nav {
	background-color: black;
}

li {
  text-align: right; 
} 

li a {
  color: violet;
  text-align: right;
  padding: 16px;
  text-decoration: none;
}


body {
  background-color:#BF7323;
}

#caja {
	box-shadow: black 5px 5px 10px;
	margin-top: 6px; 

}

.titulo {
	font-family: Verdana, Geneva, sans-serif;
	background:-webkit-linear-gradient(top, white, #C18121);
	width: 50%;
	border-radius: 10px;
	margin: 15px auto;
	text-align: center;
	padding: 15px;
	color: #C18121;
	text-shadow: black 3px 2px 3px;
	font-size: 3vw; 

}

h1 {
	font: Verdana Lucida Handwriting;
	background:-webkit-linear-gradient(top, white, #C18121);
	color: black;
	font-family: Verdana, Geneva;
	background:-webkit-linear-gradient(top, white, #C18121);
	width: 50%;
	border-radius: 10px;
	margin: 15px auto;
	text-align: center;
	padding: 15px;
	color: #C18121;
	box-shadow: black 5px 5px 10px;
	text-shadow: black 3px 2px 3px;
	
}

body {
	background-image: linear-gradient(rgba(95,95,95,.5), rgba(95,95,95,.5)),url("../imagenes/score.jpg");
	background-repeat: no-repeat;
	background-position: center;
	padding:50px 0px 0px 0px;
	z-index:0;
	background-size: cover;
}

.ex1 {
	font-family: Verdana Lucida Handwriting; 
	margin-top: 100px;
	width: 60%;

}

#mirabelle {
	padding: 50px 100px;
	margin-top: 50px;
	border-radius: 20px;
	text-align: justify; 
	
}

footer {
	color: black;
	text-align: center;
	background-color: #ABA9A6;
	padding-bottom: 1%;
}

.footer a {
	text-decoration: none; 
	color: #C18121;
}

.footer a:hover {
	color: blue;
}

.text-center {
	text-decoration: none; 
}

/* visited link */
a:visited {
  color: none;
}

/* mouse over link */
a:hover {
	color: none;
} 

figure img {
	padding: 4px;
	background: blue;
	border-radius: 20px;
	z-index: 1;
	
}

figure img:hover {
	-webkit-transform:scale(1.2); 
} -->

aside {
	color: brown;
	font-family: Candara;
	font-size: 16px;
	padding: 50px 100px;
	border-radius: 20px;
	background-color: #FCF4AB; 
	height: 600px;
	text-align: justify;

}

aside:hover {
	-webkit-transform:scale(1.2); 
}

.logo {
	width: 30px; 
	border-radius: 20%;
	height: 30px;
}

.nav-item{ 
	margin-right: 5px;
}

.row {
	background-color: transparent;
}

}
.row2 {
	margin-left: 80px;
	margin-right: 80px;
}
.container2 {
	width: 100%;
	height: 45%;
	text-align: left;
	background-color: #C18121;
	margin-bottom: 20%;
	background-color: rgba(225, 157, 55, 0.7);
	border-radius: 10%;
	-webkit-box-shadow: -7px 11px 18px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -7px 11px 18px -4px rgba(0,0,0,0.75);
	box-shadow: -7px 11px 18px -4px rgba(0,0,0,0.75);}
.parr {
	margin-left: 20%;
	margin-right: 20%;
}
.cabecera {
	height: 80px;
	padding: 0px 100px 10px;
	margin-bottom: 40px;
}
.texto {
	color: black;
	text-align: justify; 
}

.carousel{
	width: 60%;
	margin-top: 50px;
	margin-left: 50%;
	transform: translateX(-50%);
} 
/* .carousel{ */
     /* width: 40%;  */
	 /* @media (max-width: 1200px) and (min-width: 600px);  */
 /* }  */
@media(max-width: 1200px) (min-width:600px){
	.carousel {
		width: 40%;
} 
}

table, th, td {
	border: 3px solid black;
	padding: 10px 3px;
} 

table {
  border-spacing: 20px;

} 
.table1 {
	color: #B5710C;
	border-radius: 20px;
	width: 70%;
	z-index: 1; 
	margin-top: 5%; 
	margin-left: 220%;
	background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6));
	margin-bottom: 40%;
	margin-top:15%;
}

h4 {
	color: black;
}

.margen {
	padding: 20px;
	padding-right: 20px;
}

.margen1 {
	padding-left: 15px;
	padding: 15px;
	text-align: justify;
}

.foto {
	padding: 10px;
	padding-right: 10px;
	padding-top: 1px;
}

.foto2 {
	padding: 10px;
	padding-right: 10px;
	padding-top: 1px;
	width: 30%;
}

address a {
	color: #011FB6;
}

.row2 a {
	color: #082858;
	font-size: 22px;
	font-family: Verdana;
	padding: 20px;
}

.borde {
	padding: 20px;
}

h4 {
	padding: 8px;
}

